// 显示默认值
//$accentColor = #3eaf7c
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34

//咖啡色主题
$accentColor = #b16039
$textColor = #2c3e50
$borderColor = #b7a584
$codeBgColor = #282c34
